@import "../../../styles/variables";

.jscSimpleEditor {
    grid-column: span 2;
    padding: 5px 0;

    span {
        margin-right: 3px;
        display: inline-block;
        cursor: pointer;
    }
}
