@import "../../../styles/_variables";

.container {
    aside {
        margin: 20px 30px 0 20px;

        span {
            padding-bottom: 10px;
            align-self: flex-end;
            img {
                vertical-align: middle;
            }
        }

        span:first-of-type {
            flex-grow: 1;
        }
    }
}

@media screen and (max-width: $media-width-medium) {
    .container {
        aside {
            margin: unset;

            span {
                padding-right: 20px;
            }
        }
    }
}
