@import "../../../styles/_variables";

.container {
    aside {
        flex-direction: column;

        margin: 20px 30px 0 20px;

        span {
            padding-bottom: 10px;;
            img {
                vertical-align: middle;
            }
        }

        span:first-of-type {
            flex-grow: 1;
        }

        .aside__links {
            align-self: flex-end;
        }
    }
}
