@import "./variables";
@import "./fonts";

* {
    padding: 0;
    margin: 0;
}

html {
    color: $primary;
    background-color: $background;
    font-size: $font-size;
    font-family: $font-family;
}

a {
    color: $link;
    text-decoration: none;
}

li {
    list-style-position: inside;
}

.button {
    color: $link;
    text-decoration: none;
    border: solid 1px $link;
    padding: 2px 5px;
    border-radius: 5px;
}

.pointer {
    cursor: pointer;
}
