$primary: #f7c113;
$primary-dark: #d68306;
$primary-light: #678edc;
$secondary: #000;
$secondary-dark: white;
$secondary-light: white;
$background: #000;
$surface: #f5f5f6;
$link: rgb(116, 12, 12);
$on-primary: #fff;
$on-secondary: #000;
$on-background: #000;
$on-surface: #000;
$on-error: #000;
$font-size: 16px;
$font-size-big: 20px;
$font-size-bigger: 32px;
