@import "../../styles/variables";

.container {
    article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 20px;
        font-family: $font-family-blog;

        h2 {
            display: inline;
            grid-column: span 1;
        }

        pre {
            display: inline-block;
            padding: 5px;
            margin-bottom: 5px;
            box-sizing: inherit;
            hyphens: none;
            tab-size: 4;
            overflow-wrap: break-word;
            color: $secondary-dark;
            background-color: $background-code;
            border: 1px solid $border-code;
            border-radius: 2px;
            overflow: auto;
            text-shadow: none;
            text-indent: 0px;
        }

        .article {
            &__title {
                grid-column: span 2;
                padding: 5px;
                font-size: $font-size-big;
            }

            &__created {
                grid-column: span 2;
                margin-left: auto;
                align-self: flex-end;
            }

            &__message {
                grid-column: span 2;
            }

            &__ender {
                grid-column: span 2;
                margin-left: auto;
                align-self: flex-end;
                margin-top: 3px;
            }

            &__beginner {
                margin-right: auto;
                margin-top: 3px;
            }

            &__content {
                padding-top: 10px;
                grid-column: span 2;
                text-indent: 40px;
                display: inline-block;

                &-editing {
                    color: $primary;
                    background: white;
                    padding: 10px;
                    margin-top: 5px;
                    min-height: 100px;
                }
            }

            &__image {
                display: flex;
                padding-top: 10px;
                grid-column: span 2;

                &-center {
                    justify-content: center;
                }

                &-right {
                    justify-content: flex-end;
                }
            }

            &__separator {
                display: flex;
                padding: 20px;
                grid-column: span 2;
                justify-content: center;
            }

            &__separator::before {
                content: url("/images/thorn-horizontal-small.png");
            }

            .command {
                -webkit-user-select: none;
                -moz-user-select: none;
                -khtml-user-select: none;
                -ms-user-select: none;
            }
        }
    }
}

@media screen and (max-width: $media-width-medium) {
    .container {
        article {
            display: block;
            padding-bottom: 20px;
            font-family: $font-family-blog;

            h2 {
                display: block;
                padding-bottom: 10px;
            }

            .article {
                &__created {
                    display: block;
                    padding-bottom: 10px;
                }
            }
        }
    }
}
