@import "../../styles/_variables";

.container {
    section {
        padding-top: 10px;

        article, .link-back {
            margin-left: 150px;
        }
    }
}

@media screen and (max-width: $media-width-medium) {
    .container {
        section {
            div {
                margin-left: 40px;
            }
        }
    }
}
