@import "../../styles/_variables";

.container {
    section {
        div {
            margin-left: 150px;
            padding-top: 10px;
        }
    }
}

@media screen and (max-width: $media-width-medium) {
    .container {
        section {
            div {
                margin-left: 80px;
            }
        }
    }
}
